/* src/HomePage.css */

.news-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box; /* Asegúrate de que el padding no afecte el ancho */
}

.news-container .news-card {
  width: 100%;
  max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
  margin-bottom: 20px; /* Espacio entre tarjetas de noticias */
}

/* Estilos responsivos para pantallas más pequeñas */
@media (max-width: 600px) {
  .news-container {
    padding: 10px;
  }

  .news-container .news-card {
    max-width: 100%; /* Asegúrate de que ocupe todo el ancho en móviles */
  }
}
